
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-pictures:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */